<h1>Public::Customers#show</h1>
<h2>マイページ</h2>
<div class="field">
  <label>登録情報</label>
  <%= link_to  edit_customers_path do %>編集する<% end %>
</div>
<div class="field">
  <label>氏名</label>
  <%= @customer.full_name %>
</div>
<div class="field">
  <label>カナ</label>
  <%= @customer.last_name_kana + @customer.first_name_kana %>
</div>
<div class="field">
  <label>郵便番号</label>
  <%= @customer.zip_code %>
</div>
<div class="field">
  <label>住所</label>
  <%= @customer.address %>
</div>
<div class="field">
  <label>電話番号</label>
  <%= @customer.telephone_number %>
</div>
<div class="field">
  <label>メールアドレス</label>
  <%= @customer.email %>
</div>
<div class="field">
  <label>配送先</label>
  <%= link_to addresses_path do %>一覧を見る<% end %>
</div>
<div class="field">
  <label>注文履歴</label>
  <%= link_to orders_path do %>一覧を見る<% end %>
</div>
