<h1>Admin::Items#show</h1>
<!--編集中-->
<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag @item.image, size: "100x100" %>
      <%= link_to admin_item_path(@item) do %><%= @item.name %><% end %>
      <%= @item.introduction %>
      <%= @item.non_taxed_price %>
      <%= @item.is_active %>
      <%= link_to edit_admin_item_path(@item) do %>編集<% end %>
      <%= form_with model: @item do |f| %>
        <%= f.radio_button :is_active, true %>
        <%= f.label :is_active, "販売中", value: :true, class: "d-inline-block" %>
        <%= f.radio_button :is_active, false %>
        <%= f.label :is_active, "販売停止中", value: :false, class: "d-inline-block" %>
      <% end %>
    </div>
  </div>
</div>
