<%= render "public/layouts/frame", type: :standard do %>
  <h3 class="marked-heading"><%= @customer.full_name %>さんの会員詳細</h3>
  <div class="container my-4">
    <%= render "shared/customers-detail-row", label: "会員ID" do %>
      <%= @customer.id %>
    <% end %>
    <%= render "shared/customers-detail-row", label: "氏名" do %>
      <%= "#{@customer.last_name} #{@customer.first_name}" %>
    <% end %>
    <%= render "shared/customers-detail-row", label: "フリガナ" do %>
      <%= "#{@customer.last_name_kana} #{@customer.first_name_kana}" %>
    <% end %>
    <%= render "shared/customers-detail-row", label: "郵便番号" do %>
      <%= @customer.zip_code %>
    <% end %>
    <%= render "shared/customers-detail-row", label: "住所" do %>
      <%= @customer.address %>
    <% end %>
    <%= render "shared/customers-detail-row", label: "電話番号" do %>
      <%= @customer.telephone_number %>
    <% end %>
    <%= render "shared/customers-detail-row", label: "メールアドレス" do %>
      <%= @customer.email %>
    <% end %>
    <%= render "shared/customers-detail-row", label: "会員ステータス" do %>
      <%= render "admin/customers/status", is_active: @customer.is_active %>
    <% end %>
  </div>
  <div class="col d-flex justify-content-center">
    <div class="w-75 d-flex justify-content-around">
      <%= link_to edit_admin_customer_path(@customer), class: "btn btn-success" do %>
        編集する
      <% end %>
      <%= link_to orders_admin_customer_path(@customer), class: "btn btn-primary" do %>
        注文履歴一覧を見る
      <% end %>
    </div>
  </div>
<% end %>
