<%= render "public/layouts/frame", type: :standard do %>
  <h3 class="marked-heading">注文履歴詳細</h3>
  <div class="container my-4">
    <%= render "shared/customers-detail-row", label: "購入者" do %>
      <%= link_to @order.customer.full_name, admin_customer_path(@order.customer) %>
    <% end %>
    <%= render "shared/customers-detail-row", label: "注文日" do %>
      <%= format_date(@order.created_at) %>
    <% end %>
    <%= render "shared/customers-detail-row", label: "配送先" do %>
      <div><%= full_address(@order) %></div>
      <div><%= @order.name %></div>
    <% end %>
    <%= render "shared/customers-detail-row", label: "支払方法" do %>
      <%= @order.payment_method_i18n %>
    <% end %>
    <%= render "shared/customers-detail-row", label: "注文ステータス" do %>
      <%= form_with model: @order, url: admin_order_path, class: "row" do |f| %>
        <div class="col col-md-6 col-lg-4 form-row">
          <%= f.select :status, @statuses, { selected: @order.status_before_type_cast }, class: "form-control form-control-sm col-8" %>
          <%= f.submit "更新", class: "btn btn-sm btn-success offset-1 col-3" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="row my-4">
    <div class="col-12 col-lg-9">
      <%= render "order_info_table", order_details: @order_details, detail_statuses: @detail_statuses %>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mt-auto">
      <div class="row my-2">
        <div class="col-6 font-weight-bold">商品合計</div>
        <div class="col-2"><%= to_jpy_format(@order.total_price, true) %></div>
      </div>
      <div class="row my-2">
        <div class="col-6 font-weight-bold">送料</div>
        <div class="col-2"><%= to_jpy_format(@order.postage, true) %></div>
      </div>
      <div class="row my-2">
        <div class="col-6 font-weight-bold">請求金額合計</div>
        <div class="col-2 font-weight-bold"><%= to_jpy_format(@order.total_price + @order.postage, true) %></div>
      </div>
    </div>
  </div>
<% end %>
