<div class="container">
  <div class="row">
    <h5><%= flash[:notice] %></h5>
  </div>
  <div class="row">
    <h5 class="offset-1 my-3">注文履歴詳細</h5>
  </div>
  <div class="row">
    <p class="col-2"><strong>購入者</strong></p>
    <p><%= link_to @order.customer.full_name, admin_customer_path(@order.customer) %></p>
  </div>
  <div class="row">
    <p class="col-2"><strong>注文日</strong></p>
    <p><%= format_date(@order.created_at) %></p>
  </div>
  <div class="row">
    <p class="col-2"><strong>配送先</strong></p>
    <P>
      <%= full_address(@order) %><br>
      <%= @order.name %>
    </P>
  </div>
  <div class="row">
    <p class="col-2"><strong>支払方法</strong></p>
    <p><%= payment_method_text(@order) %></p>
  </div>
  <div class="row">
    <p class="col-2"><strong>注文ステータス</strong></p>
    <p>
      <%= form_with model: @order, url: admin_order_path do |f| %>
        <%= f.select :status, @statuses.to_a, selected: default_selected(@order) %>
        <%= f.submit "更新", class: "btn btn-sm btn-success ml-3" %>
      <% end %>
    </p>
  </div>
  <div class="row">
    <%= render "order_info_table", order_details: @order_details, detail_statuses: @detail_statuses %>
    <div class="col">
      <div>
        <strong>商品合計</strong>
        <%= to_jpy_format(@order.total_price, false) %>円
      </div>
      <div>
        <strong>送料</strong>
        <%= to_jpy_format(@order.postage, false) %>円
      </div>
      <div>
        <strong>請求金額合計</strong>
        <strong><%= to_jpy_format(@order.total_price + @order.postage, false) %>円</strong>
      </div>
    </div>
  </div>
</div>