<%= render "public/layouts/frame", type: :standard do %>
  <h3 class="marked-heading">検索結果画面</h3>
  <div class="my-2">
    <h5 class="marked-heading">
      <%= category_text_admin(@category) %>
      <span class="h4 mx-1"><%= @word %></span>
      の検索結果
      <small><%= counts_text(@search_results.count) %></small>
    </h5>
  </div>

  <% if @search_results.empty? %>
  <div class="my-3 text-center">
    <p class="my-5 font-weight-normal lead">
      <%= category_text_admin(@category) %>
      <span class="h4 mx-1"><%= @word %></span>
      の検索結果が見つかりませんでした。<br>
    </p>
  </div>
  <% else %>
    <!--商品名検索、ジャンル検索の場合使用-->
    <% if check_search_category(@category) %>
      <div class="my-3">
        <%= render "admin/items/table", items: @search_results %>
      </div>
    <!--会員名が一致する場合表示(部分一致も含む)-->
    <% else %>
      <div class="my-3">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>会員ID</th>
              <th>氏名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "admin/customers/customers_table", collection: @search_results, as: :customer %>
          </tbody>
        </table>
      </div>
    <% end %>
  <% end %>
<% end %>
