<div class="container">
  <div class="row">
    <h4>検索結果画面</h4>
  </div>
  <div class="row">
    <h5>
      <%= category_text_admin(@category) %>
      <strong><%= @word %></strong>
      の検索結果
      <%= counts_text(@search_results.count) %>
    </h5>
  </div>
  <% if @search_results.empty? %>
  <div class="row">
    <h5 class="col mt-5">検索結果はありません。</h5>
  </div>
  <% else %>
  <!--商品名検索、ジャンル検索の場合使用-->
    <% if check_search_category(@category) %>
      <div class="row">
        <%= render "admin/items/table", items: @search_results %>
      </div>
    <!--会員名が一致する場合表示(部分一致も含む)-->
    <% else %>
      <div class="row">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>会員ID</th>
              <th>氏名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "admin/customers/customers_table", collection: @search_results, as: :customer %>
          </tbody>
        </table>
      </div>
    <% end %>
  <% end %>
</div>
