<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>ジャンル一覧・追加</h4>
      <div class="my-4">
        <%= form_with model: [:admin, Genre.new], local: true do |f| %>
          <div class="form-row align-items-center">
            <%= f.label "ジャンル名", class: "col-3 m-0" %>
            <%= f.text_field :name, placeholder: "ジャンル名", class: "col-5 form-control" %>
            <div class="col-4 d-flex justify-content-end">
              <%= f.button type: :submit, class: "btn btn-success" do %>
                新規登録
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>ジャンル</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td class="align-middle"><%= genre.name %></td>
              <td class="align-middle text-center">
                <%= link_to edit_admin_genre_path(genre), class: "btn btn-success" do %>
                  編集する
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>