<tr>
  <td>
    <%= address.zip_code %>
  </td>
  <td>
    <%= address.address%>
  </td>
  <td>
    <%= address.name %>
  </td>
  <td>
    <%= link_to edit_address_path(address), class: "btn btn-success btn-sm" do %>
      編集する
    <% end %>
    <%= link_to address_path(address), method: :delete, "data-confirm": "削除しますか？", class: "btn btn-danger btn-sm ml-3" do %>
      削除する
    <% end %>
  </td>
</tr>