<tr>
  <td>
    <%= address.zip_code %>
  </td>
  <td style="min-width: 16rem;">
    <%= address.address %>
  </td>
  <td>
    <%= address.name %>
  </td>
  <td>
    <div class="text-center">
      <%= link_to edit_address_path(address), class: "btn btn-success btn-sm my-2 text-nowrap" do %>
        編集する
      <% end %>
      <%= link_to address_path(address), method: :delete, "data-confirm": "削除しますか？", class: "btn btn-danger btn-sm m-2 text-nowrap" do %>
        削除する
      <% end %>
    </div>
  </td>
</tr>
