<%= render "public/layouts/frame", type: :standard do %>
  <div class="d-flex justify-content-between">
    <h3 class="marked-heading">ショッピングカート</h3>
    <div id="empty-cart-button">
      <%= render "empty-cart-button", disabled: @cart_items.empty? %>
    </div>
  </div>
  <% if @cart_items.size == 0 %>
    <div class="m-5 text-center h5">
      カートは空です。
    </div>
  <% else %>
    <table class="table table-bordered my-3">
      <thead class="thead-light">
        <tr>
          <th>商品名</th>
          <th>単価<wbr>(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="cart-items-table">
        <%= render partial: "table-row", collection: @cart_items, as: :cart_item %>
      </tbody>
    </table>
  <% end %>
  <div class="row my-3">
    <div class="offset-1 col-5 col-xl-3">
      <%= link_to root_path, class: "btn btn-primary" do %>
        買い物を続ける
      <% end %>
    </div>
    <div class="offset-1 offset-xl-5 col-5 col-xl-3">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row" class="bg-light">合計金額</th>
            <td><%= to_jpy_format(@total_price, false) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="order-button" class="my-2 text-center">
    <%= render "order-button", disabled: @cart_items.empty? %>
  </div>
<% end %>