<section class="container">
  <div class="d-flex justify-content-between">
    <div class="h3">ショッピングカート</div>
    <div id="empty-cart-button">
      <%= render "empty-cart-button", disabled: @cart_items.empty? %>
    </div>
  </div>
  <% if @cart_items.size == 0 %>
    <p>
      カートは空です。
    </p>
  <% else %>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="cart-items-table">
        <%= render partial: "table-row", collection: @cart_items, as: :cart_item %>
      </tbody>
    </table>
  <% end %>
  <div class="d-flex justify-content-between my-2">
    <div>
      <%= link_to root_path, class: "btn btn-primary" do %>
        買い物を続ける
      <% end %>
    </div>
    <div class="d-flex">
      <div>
        合計金額
      </div>
      <div>
        <%= to_jpy_format(@total_price, false) %>
      </div>
    </div>
  </div>
  <div id="order-button" class="my-2 text-center">
    <%= render "order-button", disabled: @cart_items.empty? %>
  </div>
</section>