<tr>
  <td class="align-middle">
    <span class="d-inline-block text-nowrap"><%= format_date(order.created_at) %>
  </td>
  <td class="align-middle" style="min-width: 16rem;">
    <div>〒<%= order.zip_code %></div>
    <div><%= order.address %></div>
    <div><%= order.name %></div>
  </td>
  <td class="align-middle">
    <ul class="list-unstyled">
    <% order.order_details.each do |detail| %>
      <li class="text-nowrap"><%= detail.item.name %></li>
    <% end %>
    </ul>
  </td>
  <td class="align-middle">
    <%= to_jpy_format(order.total_price, true) %>
  </td>
  <td class="align-middle">
    <span class="d-inline-block text-nowrap"><%= order.status_i18n %></span>
  </td>
  <td class="align-middle">
    <%= link_to order_path(order), class: "btn btn-sm btn-primary text-nowrap" do %>
      表示する
    <% end %>
  </td>
</tr>
