<div class="container">
  <div class="row">
    <h3 class="offset-2">注文情報確認</h3>
  </div>
  <div class="row">
    <div class="col-md-7">
      <%= render "order_item_table", order_items: @order_items %>
    </div>
    <div class="col-md-4 offset-1">
      <%= render "order_price_table", order: @order %>
    </div>
  </div>
  <div class="row p-3">
    <h4 class="mr-3">支払方法</h4><p><%= payment_method_text(@order) %></p>
  </div>
  <div class="row p-3">
    <h4 class="mr-3">お届け先</h4><%= @order.full_address %><br>
    <%= @order.name %>
  </div>
  <div class="text-center">
    <%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
      <%= f.hidden_field :customer_id, value: @order.customer_id%>
      <%= f.hidden_field :name, value: @order.name%>
      <%= f.hidden_field :zip_code, value: @order.zip_code %>
      <%= f.hidden_field :address, value: @order.address %>
      <%= f.hidden_field :payment_method, value: @order.payment_method %>
      <%= f.hidden_field :postage, value: @order.postage %>
      <!--テスト用に定数に変更　-->
      <%= f.hidden_field :total_price, value: @order.total_price %>
      <!--%= f.hidden_field :total_price, value: @order.total_price %>-->
      <%= f.submit "注文を確定する", class: "btn btn-success" %>
    <% end %>
  </div>
</div>