<%= link_to item_path(item), class: "d-block p-2 text-decoration-none text-dark" do %>
  <div class="card">
    <div class="card-body">
      <div class="card-img-top d-flex justify-content-center mb-2">
        <%= image_tag item.image, height: 128, decoding: "async", loading: "lazy", alt: item_alt_text(item) %>
      </div>
      <div class="card-title h6 marked-heading">
          <%= item.name %>
      </div>
      <div class="card-text">
        <p class="px-2">
          <%= item.introduction %>
        </p>
        <div>
          <span class="font-weight-bold"><%= to_jpy_format(item.taxed_price, true) %></span>
          <small>(税込)</small>
        </div>
      </div>
    </div>
  </div>
<% end %>
